:root{
    --color-negro : #000000;
    --color-blanco: #ffffff;
    --color-naranja:#ffc107;
}

*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

/* NAVEGADOR - BURGER */
header{
    position: fixed;
    top: 0;
    width: 100%;
    transition: 0.7s;
    z-index: 99;
}
header.scrollAbajo{
    background-color: var(--color-negro);
}
header.scrollAbajo .nav-links a{
    color: var(--color-blanco);
}
header.scrollAbajo .burger div{
    background-color: var(--color-blanco);
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
}
.logo{
    font-size: 33px;
    letter-spacing: 2px;
    transition: 1.5s;
    color: var(--color-naranja);
    border-block: solid var(--color-naranja);
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 45%;
    margin: 0;
    border-block: solid black;
    padding: 0;
}
.nav-links li{
    list-style: none;
}
.nav-links a{
    color:var(--color-blanco);
    text-decoration: none;
    font-size: 20px;
}
.burger{
    display: none;
    cursor: pointer;
}
.burger div{
    width: 25px;
    height: 4px;
    margin: 5px;
    background-color: var(--color-blanco);
}

@media screen and (max-width:768px) {
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0;
        height: 92vh;
        top: 8vh;
        display: flex;
        background: #000000e0;
        flex-direction: column;
        padding: 0;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        
    }
    .burger{
        display: block;
    }
}
.nav-active{
    transform: translateX(0%);
}

/* VERIFICADOR */
.verificador{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 75vh;
    height: 100vh;
    background-image: url(../imagenes/cielo.jfif);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;

}
.verificador h1 .paseoColonial{
    color: var(--color-naranja);
}
.verificador h1 .typed{
    font-weight: bold;
    font-style: normal;
    
}
.verificador .edadCont{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.verificador .edadCont label{
    margin-top: 10px;
    text-align: center;
}
.verificador .edadCont input{
    margin-top: 10px;
}
.verificador .edadCont button{
    margin-top: 10px;
}
.contenedorSiono{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin:50px auto;
    align-items: center;
    text-align: center;
}
.contenedorSiono input{
    width: 20%;
}
/* #botonLocaldispo{
    width: 20%;
}
.localesSiono > div{
    border: solid 1px bisque;
    width: 100%;
} */
.localesSiono{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}
#imagenesLocales{
    width: 90%;
    margin: auto;
    text-align: center;
}
#contenedorImgs{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
}

/* BOTON CARRITO */
.botonCarrito{
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
    z-index: 99;
}
/* CARTAS DE PRODUCTOS */
#productosContenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.cartaProductos{
    width: 18rem;
}
