*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

/* NAVEGADOR - BURGER */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #ffe4c4;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.nav-links li{
    list-style: none;
}
.nav-links a{
    color:white;
    text-decoration: none;
    font-size: 15px;
}
.burger{
    display: none;
    cursor: pointer;
}
.burger div{
    width: 25px;
    height: 4px;
    margin: 5px;
    background-color: white;
}

@media screen and (max-width:768px) {
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0;
        height: 92vh;
        top: 8vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: bisque;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .burger{
        display: block;
    }
}
.nav-active{
    transform: translateX(0%);
}

/* VERIFICADOR */
.verificador{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: 75vh;
    margin: auto;
    background-color: bisque;
    border-radius: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.verificador .edadCont{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.verificador .edadCont label{
    margin-top: 10px;
    text-align: center;
}
.verificador .edadCont input{
    margin-top: 10px;
}
.verificador .edadCont button{
    margin-top: 10px;
}
.contenedorSiono{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: auto;
    align-items: center;
    text-align: center;
}
.contenedorSiono input{
    width: 20%;
}
/* #botonLocaldispo{
    width: 20%;
}
.localesSiono > div{
    border: solid 1px bisque;
    width: 100%;
} */
.localesSiono{
    margin-top: 50px;
}
#imagenesLocales{
    width: 90%;
    margin: auto;
    text-align: center;
}
#contenedorImgs{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
}
